body { font-family: 'Montserrat', sans-serif}
strong { font-weight: bolder, !important; }
.one {
	height: 100vh;
	width: 100vw;
}
.logo  {
	position: absolute;
	z-index: 10000;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	padding-top: 40%;
	display: flex;
	flex-direction: column;
	color: #aaaaaa;
	font-size: 30px;
	text-align: center;
}
@media (min-width: 500px) {
	.logo {
		padding-top: 30%;
	}
}
@media (min-width: 690px) {
	.logo {
		padding-top: 20%;
	}
}
@media (min-width: 1400px) {
	.logo {
		padding-top: 15%;
	}
}
.logo img {
	width: 200px;
	align-self: center;
}
.c1 {	
	background-image: url('pics/landing/clouds.jpg');
	background-size: cover;
}
.c2 {
	background-image: url('pics/landing/fingersCropped.jpg');
	background-size: cover;
}
@media (max-width: 448px) {
	.c2 {
		background-image: url('pics/landing/fingers.jpg');
	}
}
@media (min-width: 850px) {
	.c2 {
		background-image: url('pics/landing/fingersCropped2.jpg');
	}
}
.c3 {
	background-image: url('pics/landing/window.jpg');
	background-size: cover;
}

.somestuff {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 100vh;
}

.glyicon {
      color: #f4511e;
      font-size: 200px;
}
.row {
	padding: 20px;
	font-size: large;
	display: flex;
	align-items: center;
}
.col-sm-4 {
	display: flex;
	justify-content: space-around;
}
.col-sm-8 {
	padding: 20px;
}

#two {
	width: 100vw;
	padding-top: 5%;
	border-top-style: ridge;
	text-align: center;
	font-size: large;
}

.teesh1 {
	text-align: center;
	font-size: 70px;
	border-bottom-style: solid;
	border-color: #ff0000;
	border-width: 8px;
	width: 150px;
	margin: auto;
	font-weight: 900;
	margin-bottom: 50px;
	margin-top: 10px;
}



.teegallery {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-family: 'Montserrat', sans-serif;
}
.teeitem {
	
	margin-bottom: 10px;
	text-align: center;
}
.teeitem img {
	height: auto;
	max-width: 100%;
	max-height: 500px;
}


.msg1 {
	height: 20%;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}
.social {
	text-align: center;
}
.social img {
	width: 45px;
	margin-right: 10px;
	margin-left: 10px;
}




.grayscale {
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}
.huerotate {
	-webkit-filter: hue-rotate(250deg); 
	filter: hue-rotate(250deg);
}
